@page "/oppgave1"

<h3>Oppgave1</h3>

<TextEdit @bind-Text="@input" />
<Button Color="Color.Primary" onclick="@SortAndPrint">Regn ut</Button>

@code {
    private string input;

    private void SortAndPrint()
    {
        //1. Splitt opp input i en tabell og gjør om til tall

        //2. Sorter stigende

        //3. Sorter synkende

        //4. Finn største tallet

        //5. Finn minste tallet

        //6. Finn summen av alle tallene

        //7. Finn snitt av tallene


    }
}
